*{
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
    color:#1E3932 ;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'sodo regular';
    src: url(../fonts/SoDoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'sodo semiBold';
    src: url(../fonts/SoDoSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'sodo bold';
    src: url(../fonts/SoDoSans-Bold.ttf) format('truetype');
}

body{
    font-family: 'sodo regular' , Helvetica, sans-serif, sans-serif;
    font-weight: normal;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav {
    padding: 0px 40px;
    border-bottom: 0.5px solid rgba(14, 14, 14, 0.151);
    box-shadow: 1px 0.5px 3px rgba(0, 0, 0, 0.185);
}

nav ul a {
    display: block;
    text-decoration: none;
    font-family: 'sodo bold', Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .1em;
}

nav ul a:hover {
    color: #09864E;
}

nav ul li {
    padding: 10px;
}

#intro-navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    height: 100%;
}

#left-side-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

#left-side-nav li{
    display: inline-block;
}

#navbar-1 #left-side-nav img {
    width: 51px;
}

#right-side-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#navbar-1 #right-side-nav svg {
    width: 120px;
    height: 47px;
}

#encontre-uma-loja a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    gap: 10px;
}

#encontre-uma-loja p{
    font-family: 'sodo bold', Helvetica, sans-serif;
    display: inline-block;
    font-size: .9em;
}

#entrar {
    display: flex;
    gap: 10px;
}

#btn-entrar {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'sodo semiBold';
    font-size: 1em;
    background: #fff;
    padding: 3px 15px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 20px;
    transition: 0.3s;
}

#btn-entrar:hover {
    scale: 0.9;
    background: #F0F0F0;
    box-shadow: 1px 2px 3px 1px #7e958e4f;
}

#btn-registrar {
    display: block;
    font-family: 'sodo semiBold';
    font-size: .9em;
    background: black;
    color: white;
    padding: 3px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

#btn-registrar:hover {
    scale: 0.9;
    box-shadow: 1px 2px 3px 1px #7e958e4f;
}

.btns {
    cursor: pointer;
    display: block;
    color: #1e3932;
    font-family: 'sodo semiBold';
    font-size: 1em;
    background: #fff;
    padding: 3px 15px;
    border: 1px solid #1e3932;
    border-radius: 58px;
}


main {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

section {
    background-color: #D4E9E2;
    position: relative;
}

section#lojas {
    padding: 35px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#lojas p {
    text-align: center;
    font-size: 1.1em;
    width: 900px;
}

.btn-saibamais {
    background-color: #D4E9E2;
    font-size: 0.8em;
    display: block;
}

#first-sb {
    font-size: 15px;
    transition: 0.3s;
}

#first-sb:hover {
    scale: 0.9;
    background:#C8DBD5;
    box-shadow: 1px 2px 3px 1px #7e958e4f;
}

#voltando-ao-que-amamos {
    display: flex;
}

#voltando-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}

h3 {
    margin: 0px;
}

section h3 {
    color: #1E3932;
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
}

#voltando-right-side p {
    color: #1E3932;
    font-size: 18px;
    width: 550px;
    padding: 20px;
    padding-top: 0px;
    line-height: 1.75;
    text-align: center;
}

#btn-baixe {
    background-color: #D4E9E2;
    font-size: 15px;
    display: block;
}

#btn-baixe {
    transition: 0.3s;
}

#btn-baixe:hover {
    scale: 0.9;
    background:#C8DBD5;
    box-shadow: 1px 2px 3px 1px #7e958e4f;
}

#saboreie {
    display: flex;
}

#saboreie-uma-pausa {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sempadding {
    padding: 0px;
}

#saboreie-uma-pausa p {
    font-size: 18px;
}

#saboreie img {
    width: 720px;
    height: 420px;
}

#btn-saboreie{
    font-size: .9em;
}

#btn-saboreie {
    transition: 0.3s;
}

#btn-saboreie:hover {
    scale: 0.9;
    background:#C8DBD5;
    box-shadow: 1px 2px 3px 1px #7e958e4f;
}

#esperanca-e-uniao {
    display: flex;
}

#dois-homens img {
    width: 720px;
    height: 420px;
}

#esperanca-escrita {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 48px;
}

#esperanca-escrita p {
    font-size: 18px;
    text-align: center;
}

#good-things {
    display: flex;
}

#coisas-boas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px;
}

#coisas-boas p {
    font-size: 18px;
    text-align: center;
}

#coisas-img img {
    width: 720px;
    height: 420px;
}

footer {
    margin-top: 34px;
    padding: 45px 120px;
    padding-bottom: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
    box-shadow: 1px -1px 3px rgba(43, 39, 39, 0.233);
}

#conteiner-footer {
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-size: 18px;
}

footer a {
    color: rgba(0,0,0,.56);
    text-decoration: none;
    font-size: 15px;
}

ul li{
    padding: 10px 0px;
}

ul h2 {
    margin-bottom: 20px;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

#footer-links {
    display: flex;
    gap: 17px;
    padding-bottom: 40px;
}

#footer-links img {
    width: 120px;
    height: 47px;
}

#second-footer {
    border-top: .8px solid rgba(32, 31, 31, 0.075);
    box-shadow: 0px -2px 1px rgba(36, 33, 33, 0.068);
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    gap: 30px;
}

#redes {
    margin-left: 10px;
}

#redes img{
    padding: 0px 5px;
}

#second-footer {
    padding: 60px 0px;
}

#second-links a {
    display: inline-block;
    color: rgb(26, 24, 24);
    padding: 0px 13px;
    border-right: 1px solid rgba(0, 0, 0, 0.432);
}

a#last {
    border-right: 0px;
}

#copyright span {
    padding: 20px;
    font-size: .9em;
    color: rgba(99, 94, 94, 0.74);
}


#carousel-indicadores { 
    display: block;
}

#carousel-celular {
    display: none;
}

img.sm {
    display: none;
}